/.idea/vcs.xml
/.idea/workspace.xml
/.vs/Notas/FileContentIndex/91d26373-fa42-4d12-bf20-2d3526fc461d.vsidx
/.vs/Notas/FileContentIndex/ce44c2f0-4172-4b67-bfc7-34bae394d6a4.vsidx
/.vs/Notas/v17/.wsuo
/.vs/Notas/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Notas/FileContentIndex/70c1d66e-ca96-49bc-86a4-fcaec5ec304e.vsidx
/.vs/Notas/FileContentIndex/737f0970-603d-4610-8300-2a5792b42db6.vsidx
*.vsidx
*.sqlite-journal
/.vs/Notas/v17/DocumentLayout.backup.json
